.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-image1 {
  width: 200px;
  height: auto;
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.home-container3 {
  flex: 0 0 auto;
  width: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-container4 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-text10 {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
}
 
.home-text11 {
  color: #fd4747;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: line-through;
}
 
.home-text12 {
  color: rgba(0, 0, 0, 0.77);
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Times New Roman";
  font-weight: 700;
}
 
.home-text13 {
  color: rgba(255, 0, 0, 0.77);
}
 
.home-text15 {
  color: rgba(255, 0, 0, 0.77);
}
 
.home-link {
  display: contents;
}
 
.home-image2 {
  width: 221px;
  height: 50px;
  box-shadow: 5px 10px 5px 0px #d4d4d4;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-buttonradius);
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.home-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container7 {
  display: contents;
}
 
.home-text17 {
  color: rgba(25, 24, 24, 0.57);
  margin-top: var(--dl-layout-space-oneandhalfunits);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-container8 {
  flex: 0 0 auto;
  width: 306px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text18 {
  color: rgb(89, 13, 190);
  font-size: 25px;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 700;
  letter-spacing: -1.5px;
}
 
.home-text19 {
  color: rgba(25, 24, 24, 0.63);
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .home-icon10 {
    width: var(--dl-layout-size-small);
    height: 30px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-top {
    align-self: flex-end;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container4 {
    align-items: center;
    flex-direction: column;
  }
  .home-container5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text18 {
    text-align: center;
  }
}
